$fontesPrincipal:Roboto,sans-serif;

$corDeFundo: #c8d6e5;
$corPrincipal:#01a3a4;
$corSecundaria: #00d2d3;
$blue1:#1B6CA7;
$blue2:#442BDB;
$pink:#89223B;
$yellow:#9c791D;
$text-Color:#fff;
$secondaryTextColor:#000;
$purple:#4f2ac3;

$mobile:767px;
$tablet:1023px;